<!DOCTYPE html>
<html>
<head>
    <title>ML Predictor</title>
</head>
<body>
    <h1>ML Predictor - IRIS Flower</h1>
    <form action="/" method="POST">
        <label for="sepal_length">Sepal Length:</label>
        <input type="number" name="sepal_length"><br><br>
        <label for="sepal_width">Sepal Width:</label>
        <input type="number"  name="sepal_width"><br><br>
        <label for="petal_length">Petal Length:</label>
        <input type="number"  name="petal_length"><br><br>
        <label for="petal_width">Petal Width:</label>
        <input type="number"  name="petal_width"><br><br>
        <button type="submit" >Predict</button>
    </form>  
    
    <h2>
        Input: {{features}} <br>
        Prediction: {{prediction_text}}
    </h2>
</body>
</html> 